<div class="nav-social">
    {% for item in site.data.nav-social.items %}
        <a class="xxxxxxx" href="{{ item.url }}" target="_blank">
            {%- if site.data.nav-social.settings.use_icon == true -%}
                {%- include {{ item.filename | prepend: 'icons/social/' | append: '.svg' }} -%}
                <span class="is-visually-hidden">{{ item.filename }}</span>
            {%- else -%}
                {%- if site.data.nav-social.settings.use_short == true -%}
                    {{ item.short }}
                {%- else -%}
                    {{ item.title }}
                {%- endif -%}
            {%- endif -%}
        </a>
    {% endfor %}
</div>
