{% assign settings = site.data.nav-social.settings %}
{% assign socials = site.data.nav-social.items %}
<div class="nav-social">
    {% for item in site.data.nav-social.items %}
        <a class="nav-social-link {% if settings.use_icon %}uses_icon {% elsif settings.use_short %}uses_short{% endif %}" href="{{ item.url }}" target="_blank">
            {%- if settings.use_icon == true -%}
                {%- include {{ item.filename | prepend: 'icons/social/' | append: '.svg' }} -%}
                <span class="is-visually-hidden">{{ item.filename }}</span>
            {%- else -%}
                {%- if settings.use_short == true -%}
                    {{ item.short }}
                {%- else -%}
                    {{ item.title }}
                {%- endif -%}
            {%- endif -%}
        </a>
    {% endfor %}
</div>
