---
layout: list

# SEO
title: Work
description: write_a_WORK_description_around_160_characters_long
image: /assets/images/seo/YOUR_BRAND_NAME_homepage.jpg

# PAGE
heading: Our projects
synopsis: Pellentesque ullamcorper porttitor pretium. Pellentesque ut vestibulum nisi. Ut a velit ut erat venenatis euismod. Nulla dictum maximus luctus. Vestibulum et quam efficitur, auctor metus id, iaculis massa. Nulla facilisi. Donec sodales lacinia metus.
---

{% assign work = site.data.section-work %}
{% if site.work %}
    {% assign work_posts = site.work | sort: 'weight' %}
{% endif %}

{% if work_posts %}
<div class="list-items-wrapper">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <ul class="list-items">
                {% for item in work_posts %}
                <li class="list-card">
                    <div class="row">
                        <div class="col-sm-4 col-lg-3">
                            <div class="media-rounded-small o-ratio 
                                {% if work.images_ratio == '5:4' %}
                                o-ratio-5:4
                                {% elsif work.images_ratio == '5:3' %}
                                o-ratio-5:3
                                {% elsif work.images_ratio == '3:4' %}
                                o-ratio-3:4
                                {% endif %}
                            ">
                                {% if item.thumbnail %}
                                <img draggable="false" alt="{{ item.name }}" src="{{ item.thumbnail | relative_url }}" />
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-8 col-lg-9">
                            <div class="list-item-summary">
                                <h3 class="list-item-title">
                                    <a class="list-item-link list-card-link"
                                    {% if item.link contains "http" %}
                                        href="{{ item.link }}" target="_blank"
                                    {% else %}
                                        href="{{ item.url | relative_url }}"
                                    {% endif %}
                                    >
                                        <span class="list-card-link-label">
                                            {{ item.name }}
                                        </span>
                                        <span class="list-card-link-external">
                                            {% if item.link contains "http" %}
                                                {% include icons/external-link.svg %}
                                            {% endif %}
                                        </span>
                                    </a>
                                </h3>
                                {% if item.synopsis %}
                                  <p class="list-item-synopsis">{{ item.synopsis }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% else %}
<p>{{ site.data.page-list.work.no-items }}</p>
{% endif %}
