<header class="header">
  <div class="container">
    <div class="header-layout">
      <div class="header-brand">
        {% include brand/brand-link.html %}
      </div>
      <button class="nav-main-trigger js-nav-main-trigger" aria-label="Mobile Menu">
        <span class="nav-main-trigger-icon-menu">{%- include icons/mobile-nav/menu.svg -%}</span>
        <span class="nav-main-trigger-icon-close">{%- include icons/mobile-nav/close.svg -%}</span>
      </button>
      {% include navigation.html %}
    </div>
  </div>
</header>
