::selection {
    background-color: var(--selection-bg);
    color: var(--selection-text);
}

html {
    background-color: var(--paper);
    color: var(--ink);
    font-family: var(--font-family-base);
    line-height: 1.5;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading);
}

html, body, .body-content, .page-content {
    height: 100%;
}

.body-content {
    display: flex;
    flex-direction: column;
    // min-height: 100vh;
}

.scroll-content {
    flex-grow: 1;
}

.page-content {
    padding-top: var(--header-height);
}

.page-layout {
    height: 100%;
}

.page-intro {
    padding-top: 3em;
    margin-bottom: 4em;
}

.page-body {
    margin-top: 3em;
    padding-bottom: 4em;
}



.company-name {
    text-decoration: none;
}


.brand-link {
    display: flex;

    & > img {
        width: 100%;
        pointer-events: none;
    }

    & > svg {
        fill: currentColor;
        pointer-events: none;
    }

    .header-brand & {
        width: var(--header-brand-link-width);
    }
    
    .footer-brand & {
        width: var(--footer-brand-link-width);
    }
}
