*, *:before, *:after {
    box-sizing: border-box;
}

::selection {
    background-color: red;
    color: gold;
}

a {
    color: inherit;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

.body-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.scroll-content {
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.is-visually-hidden:not(:focus):not(:active) {
    clip: rect(1px 1px 1px 1px); 
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%); 
    height: 1px; 
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.brand-link {
    display: flex;
    height: 100%;

    & > svg {
        pointer-events: none;
    }
}













.current {
    background-color: gold;
}













.dev-only {
    .info-layout {
        position: fixed;
        left: 0.5rem;
        bottom: 1.5rem;
        padding: 0.25em;
        background-color: #e9e9e9;
        font-size: 0.875rem;
    }
}
