
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--header-bg);
    color: var(--header-text-color);
    z-index: 1000;
}

.header-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}