

.nav-main-list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-link {
    line-height: 1;
    text-decoration: none;

    &.is-current .nav-link-label {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: auto;
            left: 0;
            bottom: 0;
            right: 0;
            height: 0.1em;
            // box-shadow: inset 0 0 0 2px currentColor;
            background-color: currentColor;
            pointer-events: none;

            @include media-breakpoint-down(lg) {
                background-color: var(--mobile-current-bg);
            }
            @include media-breakpoint-up(lg) {
                background-color: var(--desktop-current-bg);
            }
        }
    }
}


@media (max-width: 991px) {
    html.lock-scroll {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .nav-main-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: var(--header-height);
        z-index: -1;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transition: opacity var(--transition-duration-fast) var(--easing);
        
        html.nav-main-open & {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
        }
    }
    .nav-main {
        background-color: var(--mobile-nav-bg);
        color: var(--mobile-nav-color);
        font-size: 150%;
        text-align: center;
        padding-top: var(--header-height);
        padding-bottom: var(--header-height);
        height: 100%;
        overflow-y: auto;
    }
    .nav-main-trigger {
        position: relative;
        width: var(--mobile-nav-trigger-width);
    
        & > * {
            pointer-events: none;
        }
    }
    
    .nav-main-trigger-icon-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity var(--transition-duration-fast) var(--easing);
    
        .nav-main-trigger.is-active & {
            opacity: 0;
        }
    }
    
    .nav-main-trigger-icon-close {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transform: scale(1.5);
        transition-delay: var(--transition-duration-fast);
        transition: transform var(--transition-duration-fast) var(--easing), opacity var(--transition-duration-fast) var(--easing);
    
        .nav-main-trigger.is-active & {
            opacity: 1;
            transform: none;
        }
    }
    .nav-main-list {
        max-width: calc(100% - 48px);
        margin: auto;
    }
    .nav-main-submenu-toggle {
        & > * {
            pointer-events: none;
        }
    }
    .nav-item {
        margin: 0.25em 0;
        display: flex;
        flex-flow: column;
    }
    .nav-item-submenu {
        width: 100%;
    }
    .nav-link {
        padding: 0.875em 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .nav-link-label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .nav-link-label-inner {
        position: relative;
    }
    .nav-submenu-indicator {
        display: flex;
        position: absolute;
        top: auto;
        right: 0;
        transition: transform var(--transition-duration-fast) var(--easing);

        & > svg {
            display: flex;
            width: 0.667em;
            height: 0.667em;
        }

        .nav-link.is-open & {
            transform: rotateZ(180deg);
        }
    }
    .nav-list-submenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        overflow: hidden;
        border-radius: 0.5em 0.5em 1.5em 1.5em;
        transition: height var(--transition-duration-fast) var(--easing);
        background-color: var(--mobile-submenu-bg);
    
        &:not(.active) {
            display: none;
        }
    }
}

@media (min-width: 992px) {
    .nav-main-wrapper,
    .nav-main,
    .nav-main-list,
    .nav-item,
    .nav-link {
        height: 100%;
    }
    .nav-main-wrapper {
        width: 80%;
    }
    .nav-main-list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .nav-main {
        font-size: var(--desktop-nav-text-size-factor);
        color: var(--desktop-nav-color);
        padding: var(--desktop-nav-distance-from-edge) 0;
    }
    .nav-main-trigger {
        display: none;
    }
    .nav-item {
        position: relative;
    }
    .nav-link {
        display: flex;
        align-items: center;
        padding: 0 var(--desktop-nav-space-between-items);
        border-radius: 0.75em;

        &:hover {
            background-color: var(--desktop-nav-link-hover-bg);
        }
    }
    .nav-link-label-inner {
        position: relative;
    }
    .nav-submenu-indicator {
        & > svg {
            display: flex;
            width: 1em;
            height: 1em;
        }
    }
    .nav-list-submenu {
        background-color: var(--desktop-nav-submenu-bg);
        border-radius: 0.75em 0.75em 1.25em 1.25em;
        overflow: hidden;
    }
    .nav-list-submenu-wrap {
        position: absolute;
        top: 100%;
        right: 0;
        min-width: var(--desktop-nav-submenu-width);
        border-radius: 0.75em;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        visibility: hidden;
        padding: 0.5em 0 0.75em;
        transition-delay: var(--transition-duration-fast);
        transition: opacity var(--transition-duration-fast) var(--easing);

        .nav-link:hover + &,
        &:hover {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
        }
    }
    .nav-link-submenu {
        padding: 0.75em 1em;
        font-size: var(--desktop-nav-submenu-text-size-factor);

        &:hover {
            background-color: var(--desktop-nav-submenu-hover-bg);
        }
    }
}