.media-rounded {
    border-radius: 3em;
}
.media-rounded-small {
    border-radius: 1em;
}

.section-label {
    margin: 0;
    font-size: 0.875em;
    letter-spacing: 0.2em;
}

.section-heading {
    margin: 0;
    line-height: 1.15;
    font-size: 1.75em;

    @include media-breakpoint-up(lg) {
        font-size: 2.5em;
    }
}

.section-synopsis {
}

.section-links {
    margin-top: 2em;
    text-align: center;
}

.section-buttons {
    margin-top: 2em;
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(2, 1fr);
}